.footer-start{
    background-color: rgba(235, 187, 205, 1);
  
}

.img-footer {
    color: #cd587b;
    width: 100px;
    height: 60px;
}
 .wave-container {
   position: relative;
 }
 .wave-container .logo {
    position: absolute;
    top: 90px;     
    left: 46%;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.info-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    margin-left: 60px;
    margin-bottom: 50px;
    color:  #490f29;
}

.info-footer .icon {
    width: 40px;
    height: 40px;
    margin-left: 170px;
    margin-right: -100px;

}

.info-footer p {
    text-align: left;
}
.social-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-bottom: 15px;
    margin-right: 50px;
    
}

.social-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  font-size: 1.35rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.social-footer a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}