.home {
  background-color: #ebbbcd;
  height: 500px;
  display: flex;
  padding: 28px 8%;
  margin-bottom: 100px;
}


.cta {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
  flex: 1;
}

.text-home h1 {
  color: #7b203b;
  font-weight: 500;
  font-size: 3rem;
  flex: 1;
}
.text-home h1 spam {
  color: #cd587b;
  font-weight: 500;
  font-size: 3rem;
  flex: 1;
}

.text-home p {
  color: #7b203b;
  font-size: 1.2rem;
  flex: 1;
}

.cta-buttons {
  display: flex;
  gap: 30px;

}
.cta-buttons a {
 
  text-decoration: none;
  color: #490f29;
 
}

.phone-bnt {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: white;
  padding: 8px 14px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.phone-bnt button {
  box-shadow: none;
}
.btn-default:hover {
  background-color: #cd587b;
}

.social {
  display: flex;
  gap: 20px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: white;
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.social a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}
.image-cake img {
  width: 550px;
  height: 550px;
  margin-left: 180px;
  margin-top: -50px;
}

@media screen and (max-width: 1000px) {
  .home {
    min-width: 100%;
    padding-top: 50px;
    height: 700px;
    flex-direction: column;
  }
  .text-home {
    padding: 10px 20px;
    text-align: left;
    margin-left: -20px;
  }

  .cta-buttons {
    width: 100%;
    align-items: start;
    text-align: start;
  }
   .image-cake img {
    height: 450px;
    width: 450px;
    margin-left: 300px;
    margin-top: -200px;
  }

}
@media (max-width: 900px) {
  .image-cake img {
    height: 450px;
    width: 450px;
    margin-top: 290px;
    margin-left: 120px;
    justify-content: center;
  }
  .cta {
    position: absolute;
    text-align: center;
    margin-top: -30px;
  }
  .text-home {
    text-align: center;
    font-size: 0.2rem;
  }
  .cta-buttons {
    align-items: center;
    flex-direction: column;
    margin-top: -30px;
    gap: 10px;
  }
  .social {
    justify-content: center;
    margin-top: -10px;
  }
}
@media (max-width: 800px) {
  .image-cake img {
    height: 270px;
    width: 270px;
    margin-top: 440px;
    margin-left: 150px;
    justify-content: center;
  }
  .text-home {
    text-align: left;
    font-size: 0.05rem;
  }
   .cta-buttons {
    align-items: start;
    flex-direction: column;
    margin-top: -30px;
    gap: 10px;
  }
  .social {
    justify-content: left;
    margin-top: -10px;
  }
}