.swiper {
  padding: 20px 12px;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: #c64f7a;
  top: 50%;                 
  transform: translateY(-50%);
}  
 
.swiper-wrapper{
  max-width: 1300px;
  margin: 0 25px 50px;
}     
.swiper .swiper-pagination-bullet{
 width: 12px;
 height: 12px;
 background-color: #7b203b;
}  
.swiper .slider-button{
  margin: -10px;
  margin-top: -30px;
  transition: 0.4s ease;
}
.swiper .slider-button:hover{
  color: #7b203b;
}
.card {
  width: 400px;
  min-height: 400px;
  background-color: #fffafa;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.menu-title {
  color: #cd587b;
  font-size: 1.9rem;
  margin-bottom: 5px;
}

.menu-sub {
  color: #7b203b;
  font-size: 2rem;
}
.dish-image {
  width: 380px;
  height: 290px;
  margin-top: -20px;
  border-radius: 15px;
}

.dish-title {
  color: #7b203b;
  font-size: 1.3rem;
  text-align: center;
  padding: 8px;
}
.dish-description {
  color: #cd587b;
  font-size: 0.9rem;
  text-align: left;
}

.price {
  color: #551528;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  padding-top: 10px;
 
}
.price i {
  width: 60px;
  height: 12px;
}


.heart {
  position: absolute;
  background-color: #cd587b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffafa;
  width: 60px;
  height: 60px;
  right: -10px;
  top: -5px;
  border-radius: 0px 37.5px 0px 42.5px;
}

@media (max-width: 768px) {
  .swiper-wrapper {
   
    margin: 0px 0px 0px -35px;
  }
  .swiper .slider-button{
    display: none;
  }
}