@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Limelight&display=swap");

* {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
    background-color: #f4efec;
}